/*----------------------------------------------------------------------------------------------------------General rules*/

body {
    padding-top: 56px;
    color: #fff;
}

/*------------------------------------------------Button styles*/

.button {
    text-align: center;
    vertical-align: middle;
    font-weight: 400;
    font-size: 0.9375rem;
    border: 1px solid transparent;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.green {
    background-color: #198754;
    color: #fff;
}

.slate {
    background-color: #272b30;
    color: #fff;
}

.orange {
    background-color: #F3A712;
    color: #fff;
}

.white {
    background-color: #FDFFFC;
    color: #272B30;
}

.underline {
    text-decoration: underline;
}

/*----------------------------------------------------------------------------------------------------------Header*/

.navbar {
    border-bottom: 1px solid #fff;    
    min-height: 56px;
}

.navbar-brand i {
    color: #F3A712;
}

/*----------------------------------------------------------------------------------------------------------Footer*/

footer {
    color: #fff;
    border-top: 1px solid #fff;
}

.social-media-link {
    font-size: xx-large;
}

/*----------------------------------------------------------------------------------------------------------Home Page*/
/*------------------------------------------------Jumbotron*/

.jumbotron {
    background-image: url('https://raw.githubusercontent.com/LukeGarnham/Wired-and-Wiser-MS3/master/static/images/jumbotron-image.jpg');
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    border: none;
}

.mask {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    position: relative;
}

/*------------------------------------------------Icons*/

#icons {
    font-size: 500%;
}

/*------------------------------------------------Home page*/

.image-tile {
    height: 40vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center;
    border: none;
}

#image-tile-1 {
    background-image: url('https://raw.githubusercontent.com/LukeGarnham/Wired-and-Wiser-MS3/master/static/images/meter.jpg');
}


/*----------------------------------------------------------------------------------------------------------Media Queries*/

/* The below positions the sign-in button to the bottom of the jumbotron. */
/* The solution was achieved by referring to:  https://medium.com/front-end-weekly/absolute-centering-in-css-ea3a9d0ad72e */
.jumbo-bottom {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}

/*----------------------------------------------------------------------------------------------------------Media Queries*/

/*------------------------------------------------Screens 992px plus*/

@media screen and (min-width: 992px) {

    /* Apply right border to column 2 of 3 in footer */
    #footer-col-2 {
        border-right: 1px solid #fff;
    }
}

/*------------------------------------------------Screens 768px plus*/

@media screen and (min-width: 768px) {

    /* Apply right border to column 1 of 3 in footer */
    #footer-col-1 {
        border-right: 1px solid #fff;
    }
}