/*----------------------------------------------------------------------------------------------------------General rules*/

/*------------------------------------------------Button styles*/

.button {
    text-align: center;
    vertical-align: middle;
    font-weight: 400;
    font-size: 0.9375rem;
    border: 1px solid transparent;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.green {
    background-color: #198754;
    color: #fff;
}

.slate {
    background-color: #272b30;
    color: #fff;
}

.blue {
    background-color: #00a3fd;
    color: #fff;
}

.underline {
    text-decoration: underline;
}

/*----------------------------------------------------------------------------------------------------------Header*/

.navbar {
    border-bottom: 1px solid #fff;
}

/*----------------------------------------------------------------------------------------------------------Footer*/

footer {
    color: #fff;
    border-top: 2px solid #fff;
}

.social-media-link {
    font-size: xx-large;
    text-decoration: none;
}

.social-media-link:hover {
    text-decoration: none;
}

@media screen and (min-width: 992px) {

    #footer-col-2 {
        border-right: 1px solid #fff;
    }
}

@media screen and (min-width: 768px) {

    #footer-col-1 {
        border-right: 1px solid #fff;
    }
}