{% extends "base.html" %}
{% set active_page='book' %}

{% block content %}

    <!-- Jumbrotron/background -->
    <div class="jumbotron jumbotron-fluid text-center text-white p-0 mb-0" id="book-background">
        <div class="mask"></div>
        <div class="container py-4">
            <!-- Flash messages -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="flashes position-relative slate mx-md-5 my-5">
                        <h4 class="p-3 m-0">{{ message }}</h4>
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <!-- Card containing booking form -->
            <div class="card m-md-5 p-4">
                <div class="card-body">
                    <div>
                        <h1 class="display-4 mb-5"><i class="fas fa-book mr-2"></i>Book<span class="d-none d-sm-inline"> Smart Meter Install</span></h1>
                    </div>
                    <!-- FORM -->
                    <form method="POST" action="{{ url_for('book') }}">
                        <!-- First group contains meter details -->
                        <div class="fieldset">
                            <div class="form-group form-row">
                                <div class="d-none d-md-inline col-form-label col-form-label-sm col-3 col-md-1 text-right">
                                    <i class="fas fa-info-circle mr-2 modal-button launch-meter-id-modal"></i>
                                </div>
                                <label for="meter_id" class="col-form-label col-form-label-sm col-12 col-md-3 text-md-left font-weight-bold">
                                    <div class="d-inline d-md-none col-form-label">
                                        <i class="fas fa-info-circle mr-2 modal-button launch-meter-id-modal"></i>
                                    </div>
                                    Meter ID: *
                                </label>
                                <div class="col-12 col-md-7">
                                    <input type="text" class="form-control form-control-sm text-center text-md-left" id="meter_id" name="meter_id" placeholder="Meter ID (required)"  aria-describedby="meterIdHelpBlock" minlength="13" maxlength="13" pattern="^[0-9]{13}$" required>
                                    <small id="meterIdHelpBlock" class="form-text text-muted text-md-left">
                                        Please provide the 13 numbers from the end of your meter ID.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group form-row">
                                <div class="d-none d-md-inline col-form-label col-form-label-sm col-3 col-md-1 text-right">
                                    <i class="fas fa-info-circle mr-2 modal-button launch-msn-modal"></i>
                                </div>
                                <label for="meter_serial_number" class="col-form-label col-form-label-sm col-12 col-md-3 text-md-left font-weight-bold">
                                    <div class="d-inline d-md-none col-form-label">
                                        <i class="fas fa-info-circle mr-2 modal-button launch-msn-modal"></i>
                                    </div>
                                    Meter <span class="d-md-none d-lg-inline">Serial </span>Number:
                                </label>
                                <div class="col-12 col-md-7">
                                    <input type="text" class="form-control form-control-sm text-center text-md-left" id="meter_serial_number" name="meter_serial_number" aria-describedby="msnHelpBlock" maxlength="12" pattern="^[a-zA-Z0-9]{0,12}$" placeholder="Meter serial number">
                                    <small id="msnHelpBlock" class="form-text text-muted text-md-left">
                                        Please provide if known.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <!-- Second group contains property/address details -->
                        <div class="fieldset">
                            <div class="form-group form-row">
                                <label for="first_address_line" class="col-form-label col-form-label-sm col-12 col-lg-3 offset-md-1 text-md-left font-weight-bold">First Address Line: *</label>
                                <div class="col-12 col-md-10 offset-md-1 col-lg-7 offset-lg-0">
                                    <input type="text" class="form-control form-control-sm text-center text-md-left" id="first_address_line" name="first_address_line" maxlength="50" pattern="^[a-zA-Z0-9 ]{0,50}$" required>
                                </div>
                            </div>
                            <div class="form-group form-row">
                                <label for="second_address_line" class="col-form-label col-form-label-sm col-12 col-lg-3 offset-md-1 text-md-left font-weight-bold">Second Address Line:</label>
                                <div class="col-12 col-md-10 offset-md-1 col-lg-7 offset-lg-0">
                                    <input type="text" class="form-control form-control-sm text-center text-md-left" id="second_address_line" name="second_address_line" maxlength="50" pattern="^[a-zA-Z0-9 ]{0,50}$">
                                </div>
                            </div>
                            <div class="form-group form-row">
                                <label for="third_address_line" class="col-form-label col-form-label-sm col-12 col-lg-3 offset-md-1 text-md-left font-weight-bold">Third Address Line:</label>
                                <div class="col-12 col-md-10 offset-md-1 col-lg-7 offset-lg-0">
                                    <input type="text" class="form-control form-control-sm text-center text-md-left" id="third_address_line" name="third_address_line" maxlength="50" pattern="^[a-zA-Z0-9 ]{0,50}$">
                                </div>
                            </div>
                            <div class="form-group form-row">
                                <label for="town" class="col-form-label col-form-label-sm col-12 col-md-3 offset-md-1 text-md-left font-weight-bold">Town / City: *</label>
                                <div class="col-12 col-md-7">
                                    <input type="text" class="form-control form-control-sm text-center text-md-left" id="town" name="town" maxlength="50" pattern="[a-zA-Z ]+$" required>
                                </div>
                            </div>
                            <div class="form-group form-row">
                                <label for="county" class="col-form-label col-form-label-sm col-12 col-md-3 offset-md-1 text-md-left font-weight-bold">County: *</label>
                                <div class="col-12 col-md-7">
                                    <input type="text" class="form-control form-control-sm text-center text-md-left" id="county" name="county" maxlength="50" pattern="[a-zA-Z ]+$" required>
                                </div>
                            </div>
                            <div class="form-group form-row">
                                <label for="postcode" class="col-form-label col-form-label-sm col-12 col-md-3 offset-md-1 text-md-left font-weight-bold">Postcode: *</label>
                                <div class="col-12 col-md-7">
                                    <input type="text" class="form-control form-control-sm text-center text-md-left" id="postcode" name="postcode" minlength="6" maxlength="8" pattern="^[a-zA-Z0-9 ]{6,8}$" required>
                                </div>
                            </div>
                            <div class="form-group form-row">
                                <label for="meter_location" class="col-form-label col-form-label-sm col-12 col-md-10 offset-md-1 text-md-left font-weight-bold">Meter Location: *</label>
                                <div class="col-12 col-md-10 offset-md-1">
                                    <textarea class="form-control form-control-sm text-left" id="meter_location" name="meter_location" aria-describedby="meterLocationHelpBlock" cols="30" rows="2" placeholder="Where in the property is the meter located? (required)" required></textarea>
                                    <small id="meterLocationHelpBlock" class="form-text text-muted text-md-left">
                                        Location: Only letters and numbers permitted.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group form-row">
                                <label for="access_instructions" class="col-form-label col-form-label-sm col-12 col-md-10 offset-md-1 text-md-left font-weight-bold">Access Instructions (if applicable):</label>
                                <div class="col-12 col-md-10 offset-md-1">
                                    <textarea class="form-control form-control-sm text-left" id="access_instructions" name="access_instructions" aria-describedby="accessInfoHelpBlock" cols="30" rows="2" placeholder="Are there any instructions for accessing the property?"></textarea>
                                    <small id="accessInfoHelpBlock" class="form-text text-muted text-md-left">
                                        Location: Only letters and numbers permitted.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group form-row">
                                <label for="parking_on_site" class="col-form-label col-form-label-sm col-12 col-sm-6 offset-md-1 text-sm-left font-weight-bold">Parking Available On Site?: *</label>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <select name="parking_on_site" class="custom-select custom-select-sm text-center text-md-left" id="parking_on_site" required>
                                        <option value="" selected disabled>Select (required)</option>
                                        <option value="yes">Yes</option>
                                        <option value="no">No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group form-row">
                                <label for="property_type" class="col-form-label col-form-label-sm col-12 col-sm-6 offset-md-1 text-sm-left font-weight-bold">Property Type: *</label>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <select name="property_type" class="custom-select custom-select-sm text-center text-md-left" id="property_type" required>
                                        <option value="" selected disabled>Select (required)</option>
                                        <option value="residential">Residential</option>
                                        <option value="commercial">Commercial</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Third group contains supplier details, install date and authorisation -->
                        <div class="fieldset">
                            <div class="form-group form-row">
                                <label for="supplier" class="col-form-label col-form-label-sm col-12 col-md-3 offset-md-1 text-md-left font-weight-bold">Supplier: *</label>
                                <div class="col-12 col-md-7">
                                    <input type="text" class="form-control form-control-sm text-center text-md-left" id="supplier" name="supplier" maxlength="30" pattern="^[a-zA-Z0-9 ]{0,30}$" placeholder="Name of current supplier" required>
                                </div>
                            </div>
                            <div class="form-group form-row">
                                <label for="supplier_acc_no" class="col-form-label col-form-label-sm col-12 col-md-5 offset-md-1 text-md-left font-weight-bold">Supplier Account Number:</label>
                                <div class="col-12 col-md-5">
                                    <input type="text" class="form-control form-control-sm text-center text-md-left" id="supplier_acc_no" name="supplier_acc_no" maxlength="20" pattern="^[a-zA-Z0-9 /]{0,20}$" placeholder="Account number (if known)">
                                </div>
                            </div>
                            <div class="form-group form-row">
                                <label for="meter_read_reg_1" class="col-form-label col-form-label-sm col-12 col-md-5 offset-md-1 text-md-left font-weight-bold">Meter Read (Register 1):</label>
                                <div class="col-12 col-md-5">
                                    <input type="text" class="form-control form-control-sm text-center text-md-left" id="meter_read_reg_1" name="meter_read_reg_1" maxlength="8" pattern="^[0-9]{0,8}$" placeholder="Register 1 read (if known)">
                                </div>
                            </div>
                            <div class="form-group form-row">
                                <label for="meter_read_reg_2" class="col-form-label col-form-label-sm col-12 col-md-5 offset-md-1 text-md-left font-weight-bold">Meter Read (Register 2):</label>
                                <div class="col-12 col-md-5">
                                    <input type="text" class="form-control form-control-sm text-center text-md-left" id="meter_read_reg_2" name="meter_read_reg_2" maxlength="8" pattern="^[0-9]{0,8}$" placeholder="Register 2 read (if known)">
                                </div>
                            </div>
                            <div class="form-group form-row">
                                <label for="install_date" class="col-form-label col-form-label-sm col-12 col-md-5 offset-md-1 text-md-left font-weight-bold">Installation Date: *</label>
                                <div class="col-12 col-md-5">
                                    <input type="text" class="form-control form-control-sm text-center text-md-left" id="install_date" name="install_date" aria-describedby="dateHelpBlock" pattern="^[0-9/]{10}$" placeholder="dd/mm/yyyy" required>
                                    <small id="dateHelpBlock" class="form-text text-muted text-md-left">
                                        Earliest installation date must be 30 days from today.
                                    </small>
                                </div>
                            </div>
                            <div class="form-check form-row">
                                <div class="col-12 col-md-10 offset-md-1">
                                    <input type="checkbox" class="form-check-input mt-2"  value="on" id="supplier_authorisation" name="supplier_authorisation">
                                    <label class="form-check-label col-form-label col-form-label-sm" for="supplier_authorisation">
                                        I authorise Wired & Wiser to conduct a smart meter installation at my presmises. I authorise Wired & Wiser to contact my supplier on my behalf to pass on information about the meter installation and any meter read(s).
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- Form buttons -->
                        <div class="mt-5">
                            <button type="submit" id="submit-button" class="button green px-3 py-1 d-block d-md-inline mx-auto mb-4 mb-md-0 mr-md-4" disabled>
                                <i class="fas fa-book mr-2"></i>Book
                            </button>
                            <a href="{{ url_for('account', username=session['user_email_address']) }}" class="button red d-md-inline px-3 py-1">
                                <i class="fas fa-window-close mr-2"></i>Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Meter ID Modal -->
    <div id="meter-id-modal" class="my-modal">
        <div class="container py-4">
            <div class="card m-md-5 p-4">
                <i id="close-meter-id-modal" class="fas fa-window-close text-right modal-button"></i>
                <div class="card-body">
                    <div class="row text-center">
                        <div class="col-10 offset-1">
                            <h4 class="underline mb-4">What is my meter ID?</h4>
                            <p>
                                Every electricity meter has a Meter Point Administration Number (MPAN).  This consists of 21 numbers.  These numbers identify the type of meter, location, time bands and charges that apply to your supply point.
                            </p>
                            <p>
                                The first 8 numbers, known as the top line of the MPAN, can change.  However, the final 13 numbers, known as the core MPAN, are unique to your supply point and will not change, even when we replace your meter.
                            </p>
                            <img src="{{ url_for('static', filename='images/meter-id.jpg') }}" alt="Image showing what an electricity meter ID looks like." class="img-fluid mb-3">
                            <p>
                                <span class="font-weight-bold">Please only provide your core MPAN.</span>  These are the 13 digits in the bottom row and they are unique to your supply point.
                            </p>
                            <h4 class="underline mb-4">Where can I find my Meter ID?</h4>
                            <p>
                                The easiest place to find on an invoice from your supplier.  Your meter ID (MPAN) is not on your meter.
                            </p>
                            <p>
                                If you don’t have a previous invoice, you can find out your MPAN by calling your Distribution Network Operator (DNO) for your area.
                            </p>
                            <img src="{{ url_for('static', filename='images/dnos.png') }}" alt="Image of the Distribution Network Operators in Great Britain" class="img-fluid mb-3">
                            <p class="m-0">
                                Still unsure who your DNO is?  You can find out by entering your postcode on the <a href="https://www.energynetworks.org/operating-the-networks/whos-my-network-operator" class="underline font-weight-bold" target="_blank">Energy Networks website</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Meter Serial Number (MSN) Modal -->
    <div id="msn-modal" class="my-modal">
        <div class="container py-4">
            <div class="card m-md-5 p-4">
                <i id="close-msn-modal" class="fas fa-window-close text-right modal-button"></i>
                <div class="card-body">
                    <div class="row text-center">
                        <div class="col-10 offset-1">
                            <h4 class="underline mb-4">What is my Meter Serial Number?</h4>
                            <p>
                                Each meter has a unique alphanumeric code on the front of it.  These can vary in length but are usually 8-10 characters in length.
                            </p>
                            <p>
                                If you can provide this information, this will help our engineer identify the correct meter when they come to replace your meter.
                            </p>
                            <img src="{{ url_for('static', filename='images/msn.png') }}" alt="Image showing an electricity meter with the meter serial number circled." class="img-fluid mb-3">
                            <h4 class="underline mb-4">Where can I find my Meter Serial Number?</h4>
                            <p class="m-0">
                                You can find your Meter Serial Number on an invoice from your supplier and also on the front of your meter.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}