{% extends "base.html" %}

{% block content %}

    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid text-center text-white p-0 mb-0" id="home-background">
        <div class="mask"></div>
        <div class="container position-relative py-4">
            <div>
                <h1 class="display-4 my-3">Join the Smart Meter Revolution</h1>
                <p class="lead">Wired & Wiser are installing smart meters nationwide.</p>
                <p>Book your smart meter installation today!</p>
                <a href="{{ url_for('register') }}" >
                    <button type="button" class="button green px-3 py-1"><i class="fas fa-user mr-2"></i>Register</button>
                </a>
            </div>
        </div>
        <div class="jumbo-bottom">
                <p class="d-md-inline mb-2 mb-md-0 mr-md-2">Already registered?</p>
                <a class="d-md-inline" href="#" >
                    <button type="button" class="button orange px-3 py-1"><i class="fas fa-sign-in-alt mr-2"></i>Sign In</button>
                </a>
            </div>
    </div>

    <!-- Home page content -->
    <div class="container-fluid">
        <section id="icons" class="text-center">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 p-5">
                    <i class="far fa-calendar-alt mb-3"></i>
                    <h2 class="mb-3">Book</h2>
                    <p class="m-0">Book your smart meter installation with Wired & Wiser.</p>
                </div>
                <div class="col-12 col-sm-6 col-md-4 p-5">
                    <i class="fas fa-tachometer-alt  mb-3"></i>
                    <h2 class="mb-3">Install</h2>
                    <p class="m-0">One of our qualified engineers will install your smart meter on your chosen date.</p>
                </div>
                <div class="col-12 col-sm-6 offset-sm-3 col-md-4 offset-md-0 p-5">
                    <i class="far fa-money-bill-alt mb-3"></i>
                    <h2 class="mb-3">Save</h2>
                    <p class="m-0">Start benefitting by reducing your energy usage and save money.</p>
                </div>
            </div>
        </section>
        <!-- About section -->
        <section id="about">
            <div class="row">
                <div class="col-12 white text-center p-5">
                    <h3 class="underline mb-3">About</h3>
                    <p>
                        Wired & Wiser install domestic and commercial electric smart meters nationwide. Our qualified engineers will come to your property on a date and time that suits you. We will install the latest generation of electric smart meters (known as SMETS2 meters) so you won't lose the smart features when you change supplier.
                    </p>
                    <p>
                        We will give you an in home display which shows your electricity consumption in real-time to help you identify cost and energy saving measures that benefit you and the environment.
                    </p>
                    <p>
                        <strong><a href="{{ url_for('register') }}" class="underline">Register</a></strong> today to book your smart meter installation and you really will be wired & wiser!  Already booked your install? Log in to check the details.
                    </p>
                </div>
            </div>
        </section>
        <!-- What section -->
        <section id="what">
            <div class="row">
                <div class="col-12 col-md-6 p-0">
                    <div id="image-tile-1" class="image-tile">
                        <div class="mask"></div>
                    </div>
                </div>
                <div class="col-12 col-md-6 text-center p-5">
                    <h3 class="underline mb-4">What are smart meters?</h3>
                    <p>
                        Smart meters replace your existing gas and electricity meters. They use wireless networks, similar to mobile phone networks, to send data directly to your energy supplier about how much gas and electricity you're using. This means you won’t have to read your gas and electricity meters any more, and your bills won’t be estimated.
                    </p>
                    <p>
                        Smart meters are different from energy monitors. While energy monitors can show you how much electricity you’re using, they don’t communicate this information to your provider.  When Wired & Wiser install your smart meter, we will provide you with an in home display which will show you your energy usage in real-time.
                    </p>
                    <p class="m-0">
                        To find out more, read the 
                        <strong>
                                <a href="https://www.which.co.uk/reviews/smart-meters/article/smart-meters-explained/what-is-a-smart-meter" target="_blank" class="underline">Which? guide to smart meters.
                            </a>
                        </strong>
                    </p>
                </div>
            </div>
        </section>
        <!-- Why section -->
        <section id="why">
            <div class="row">
                <div class="col-12 col-md-6 order-md-2 p-0">
                    <div id="image-tile-2" class="image-tile">
                        <div class="mask"></div>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-md-1 white text-center p-5">
                    <h3 class="underline mb-4">Why get a smart meter?</h3>
                    <p>
                        Estimated meter reads will become a thing of the past with your new smart meter.  Smart meters send your consumption data directly to your supplier meaning you will always be billed accurately based on what you have actually used.  This will remove the costs of manual meter readings which are currently added to your bills.
                    </p>
                    <p>
                        Since Wired & Wiser are installing the latest generation of smart meters, you can switch supplier safe in the knowledge that your new supplier will continue to receive your consumption data.
                    </p>
                    <p>
                        Furthermore, your in home display will help you monitor your usage in real-time meaning you can identify energy saving opportunities in your home or business.  By changing your everyday habits, you can <strong>reduce</strong> your energy usage, your carbon footprint and the impact on your wallet!
                    </p>
                    <p class="m-0">
                        Checkout the 
                        <strong>
                            <a href="https://energysavingtrust.org.uk/hub/quick-tips-to-save-energy/" target="_blank" class="underline">
                                Energy Saving Trust for energy saving tips.
                            </a>
                        </strong>
                    </p>
                </div>
            </div>
        </section>
        <!-- How section -->
        <section id="how">
            <div class="row">
                <div class="col-12 col-md-6 p-0">
                    <div id="image-tile-3" class="image-tile">
                        <div class="mask"></div>
                    </div>
                </div>
                <div class="col-12 col-md-6 text-center p-5">
                    <h3 class="underline mb-4">How to get a smart meter?</h3>
                    <p>
                        Wired & Wiser are installing meters across Great Britain.  Our friendly, qualified engineers will visit your propery to replace your existing electricity meter with a smart meter.  You will receive your in home display at the same time.
                    </p>
                    <p>
                        Appointments usually take an hour and you will be without electricity for approximately 45 minutes.  Please consider this before booking - businesses may need to shutdown servers and other IT equipment before the appointment.
                    </p>
                    <p>
                        All set?  Simply <strong><a href="{{ url_for('register') }}" class="underline">register</a></strong> and then from your Account dashboard, book your smart meter installation.  Select a date and time to suit your needs.
                    </p>
                    <p class="m-0">
                        What if something changes?  Don't worry - if you need to amend details of your booking, simply sign in and update or cancel your booking.
                    </p>
                </div>
            </div>
        </section>
        <div class="row">
            <div class="col-12 p-0">
                <div id="image-tile-4" class="image-tile">
                    <div class="mask"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}