{% extends "base.html" %}

{% block content %}

    <div class="jumbotron jumbotron-fluid text-center text-white p-0 mb-0">
        <div class="mask">
            <div class="container py-4">
                <div>
                    <h1 class="display-4">Join the Smart Meter Revolution</h1>
                    <p class="lead">Wired and Wiser are installing smart meters nationwide.</p>
                    <p>Book your smart meter installation today!</p>
                    <a href="#" >
                        <button type="button" class="button green px-3 py-1"><i class="fas fa-user mr-2"></i>Sign Up</button>
                    </a>
                </div>
            </div>
            <div class="jumbo-bottom pt-2 pb-0">
                    Already registered?
                    <a class="px-2" href="#" >
                        <button type="button" class="button orange px-3 py-1"><i class="fas fa-sign-in-alt mr-2"></i>Sign In</button>
                    </a>
                </div>
        </div>
    </div>

    <div class="container-fluid">
        <section id="icons" class="text-center mt-4 mb-5">
            <div class="row">
                <div class="col-12 col-sm-4 py-2">
                    <i class="far fa-calendar-alt"></i>
                    <h2>Book</h2>
                </div>
                <div class="col-12 col-sm-4 py-2">
                    <i class="fas fa-tachometer-alt"></i>
                    <h2>Install</h2>
                </div>
                <div class="col-12 col-sm-4 py-2">
                    <i class="far fa-money-bill-alt"></i>
                    <h2>Save</h2>
                </div>
            </div>
        </section>
        <section id="about">
            <div class="row">
                <div class="col-12 white text-center p-5">
                    <h3 class="underline mb-3">About</h3>
                    <p>
                        Wired and Wiser install domestic and commercial electric smart meters nationwide. Our
                        qualified engineers will come to your property on a date and time that suits you. We will
                        install the latest version of electric smart meters (known as SMETS2 meters) so you won't
                        lose the smart features when you change supplier.
                    </p>
                    <p>
                        We will give you an in home display which shows your electricity consumption in real-time to
                        help you identify cost and energy saving measures that benefit you and the environment.
                    </p>
                    <p>
                        Sign up today to book your smart meter installation and you really will be wired and wiser!
                        Already booked your install? Log in to check the details.
                    </p>
                </div>
            </div>
        </section>
        <section id="what">
            <div class="row">
                <div class="col-12 col-md-7 p-0">
                    <div id="image-tile-1" class="image-tile">
                        <div class="mask"></div>
                    </div>
                </div>
                <div class="col-12 col-md-5 text-center p-5">
                    <h3 class="underline">What are smart meters?</h3>
                </div>
            </div>
        </section>
    </div>

{% endblock %}