{% extends "base.html" %}

{% block content %}

    <!-- Jumbrotron/background -->
    <div class="jumbotron jumbotron-fluid text-center text-white p-0 mb-0" id="register-background">
        <div class="mask"></div>
        <div class="container py-4">
            <!-- Flash messages -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="flashes position-relative">
                        <h4 class="my-5">{{ message }}</h4>
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <!-- Card containing registration form -->
            <div class="card m-md-5 p-4">
                <div class="card-body">
                    <div>
                        <h1 class="display-4 mb-5"><i class="fas fa-user mr-2"></i>Update Account</h1>
                    </div>
                    <form method="POST" action="{{ url_for('update_account', username=session['user_email_address']) }}">
                        <div class="form-group form-row">
                            <label for="first-name" class="col-form-label col-form-label-sm col-12 col-md-3 offset-md-1 text-md-left">First Name: *</label>
                            <div class="col-12 col-md-7">
                                <input type="text" class="form-control form-control-sm text-center text-md-left" id="first-name" name="first-name" aria-describedby="firstNameHelpBlock" value="{{ user.first_name|capitalize }}" maxlength="30" pattern="^[a-zA-Z-]{0,30}$" required>
                                <small id="firstNameHelpBlock" class="form-text text-muted text-md-left">
                                    First name:  Only letters and hyphens (-) permitted.  Max. 30 characers.
                                </small>
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <label for="last-name" class="col-form-label col-form-label-sm col-12 col-md-3 offset-md-1 text-md-left">Last Name: *</label>
                            <div class="col-12 col-md-7">
                                <input type="text" class="form-control form-control-sm text-center text-md-left" id="last-name" name="last-name" aria-describedby="lastNameHelpBlock" value="{{ user.last_name|capitalize }}" maxlength="30" pattern="^[a-zA-Z-]{0,30}$" required>
                                <small id="lasstNameHelpBlock" class="form-text text-muted text-md-left">
                                    Last name:  Only letters and hyphens (-) permitted.  Max. 30 characers.
                                </small>
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <label for="email" class="col-form-label col-form-label-sm col-12 col-md-3 offset-md-1 text-md-left">Email Address: *</label>
                            <div class="col-12 col-md-7">
                                <input type="email" class="form-control form-control-sm text-center text-md-left" id="email" name="email" value="{{ user.user_email_address }}" required>
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <label for="password" class="col-form-label col-form-label-sm col-12 col-md-3 offset-md-1 text-md-left">Current Password: *</label>
                            <div class="col-12 col-md-7">
                                <input type="password" class="form-control form-control-sm text-center text-md-left" id="password" name="password" aria-describedby="passwordHelpBlock" placeholder="Password (required)" minlength="6" maxlength="15" required>
                                <small id="passwordHelpBlock" class="form-text text-muted text-md-left">
                                    You must enter your current password to confirm changes.
                                </small>
                            </div>
                        </div>
                        <div class="mt-5">
                            <button type="submit" class="button orange px-3 py-1 d-block d-md-inline mx-auto mb-4 mb-md-0 mr-md-4">
                                <i class="fas fa-edit mr-2"></i>Update Details
                            </button>
                            <a href="#" class="button red d-md-inline px-3 py-1">
                                <i class="fas fa-trash mr-2"></i>Delete Account
                            </a>
                        </div>
                    </form>
                    <div class="mt-5">
                        <a href="{{ url_for('account', username=session['user_email_address']) }}" class="button green d-md-inline px-3 py-1">
                            <i class="fas fa-user mr-2"></i>Back To Account
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}