{% extends "base.html" %}
{% set active_page='account' %}

{% block content %}

    <!-- Jumbrotron/background -->
    <div class="jumbotron jumbotron-fluid text-center text-white p-0 mb-0" id="view-background">
        <div class="mask"></div>
        <div class="container py-4">
            <!-- Flash messages -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="flashes position-relative slate mx-md-5 my-5">
                        <h4 class="p-3 m-0">{{ message }}</h4>
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <!-- Card containing booking form -->
            <div class="card m-md-5 p-4">
                <div class="card-body">
                    <div>
                        <h1 class="display-4 mb-3"><i class="fas fa-eye mr-2"></i>View</h1>
                        <h4 class="mb-5">{{ booking.meter_id }}</h4>
                    </div>
                    <div class="container-fluid">
                        <div class="row mb-3">
                            <div class="col-form-label col-form-label-sm col-12 col-md-6 font-weight-bold">Meter ID:</div>
                            <div class="col-form-label col-form-label-sm col-12 col-md-6">{{ booking.meter_id }}</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-form-label col-form-label-sm col-12 col-md-6 font-weight-bold">Meter Serial Number:</div>
                            <div class="col-form-label col-form-label-sm col-12 col-md-6">{{ booking.meter_serial_number }}</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-form-label col-form-label-sm col-12 col-md-6 font-weight-bold">First Address Line:</div>
                            <div class="col-form-label col-form-label-sm col-12 col-md-6">{{ booking.first_address_line }}</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-form-label col-form-label-sm col-12 col-md-6 font-weight-bold">Second Address Line:</div>
                            <div class="col-form-label col-form-label-sm col-12 col-md-6">{{ booking.second_address_line }}</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-form-label col-form-label-sm col-12 col-md-6 font-weight-bold">Third Address Line:</div>
                            <div class="col-form-label col-form-label-sm col-12 col-md-6">{{ booking.third_address_line }}</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-form-label col-form-label-sm col-12 col-md-6 font-weight-bold">Town / City:</div>
                            <div class="col-form-label col-form-label-sm col-12 col-md-6">{{ booking.first_address_line }}</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-form-label col-form-label-sm col-12 col-md-6 font-weight-bold">County:</div>
                            <div class="col-form-label col-form-label-sm col-12 col-md-6">{{ booking.county }}</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-form-label col-form-label-sm col-12 col-md-6 font-weight-bold">Postcode:</div>
                            <div class="col-form-label col-form-label-sm col-12 col-md-6">{{ booking.postcode }}</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-form-label col-form-label-sm col-12 col-md-6 font-weight-bold">Meter Location:</div>
                            <div class="col-form-label col-form-label-sm col-12 col-md-6">{{ booking.meter_location }}</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-form-label col-form-label-sm col-12 col-md-6 font-weight-bold">Access Instructions:</div>
                            <div class="col-form-label col-form-label-sm col-12 col-md-6">{{ booking.access_instructions }}</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-form-label col-form-label-sm col-12 col-md-6 font-weight-bold">Parking Available On Site?:</div>
                            <div class="col-form-label col-form-label-sm col-12 col-md-6">{{ booking.parking_on_site|capitalize }}</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-form-label col-form-label-sm col-12 col-md-6 font-weight-bold">Property Type:</div>
                            <div class="col-form-label col-form-label-sm col-12 col-md-6">{{ booking.property_type|capitalize }}</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-form-label col-form-label-sm col-12 col-md-6 font-weight-bold">Supplier:</div>
                            <div class="col-form-label col-form-label-sm col-12 col-md-6">{{ booking.supplier }}</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-form-label col-form-label-sm col-12 col-md-6 font-weight-bold">Supplier Account Number:</div>
                            <div class="col-form-label col-form-label-sm col-12 col-md-6">{{ booking.supplier_acc_no }}</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-form-label col-form-label-sm col-12 col-md-6 font-weight-bold">Meter Read (Register 1):</div>
                            <div class="col-form-label col-form-label-sm col-12 col-md-6">{{ booking.meter_read_reg_1 }}</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-form-label col-form-label-sm col-12 col-md-6 font-weight-bold">Meter Read (Register 2):</div>
                            <div class="col-form-label col-form-label-sm col-12 col-md-6">{{ booking.meter_read_reg_2 }}</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-form-label col-form-label-sm col-12 col-md-6 font-weight-bold">Installation Date:</div>
                            <div class="col-form-label col-form-label-sm col-12 col-md-6">{{ booking.install_date.strftime('%d/%m/%Y') }}</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-form-label col-form-label-sm col-12 col-md-6 font-weight-bold">Application Date:</div>
                            <div class="col-form-label col-form-label-sm col-12 col-md-6">{{ booking.application_date.strftime('%d/%m/%Y') }}</div>
                        </div>
                        <div class="mt-5">
                            <div class="d-block d-md-inline mb-4 mb-md-0 mr-md-4">
                                <a href="{{ url_for('update_booking', booking_id=booking._id) }}" class="button orange px-3 py-1">
                                    <i class="fas fa-edit mr-2"></i>Update Booking
                                </a>
                            </div>
                            <div id="launch-delete-modal" class="button red d-inline-block px-3 py-1">
                                <i class="fas fa-trash mr-2"></i>Delete Booking
                            </div>
                        </div>
                        <div class="mt-5">
                            <a href="{{ url_for('account', username=session['user_email_address']) }}" class="button green d-md-inline px-3 py-1">
                                <i class="fas fa-user mr-2"></i>Back To Account
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Booking Modal -->
    <div id="delete-booking-modal" class="my-modal">
        <div class="container py-4">
            <div class="card m-md-5 p-4">
                <div class="card-body">
                    <div class="row text-center">
                        <div class="col-10 offset-1">
                            <h4 class="mb-4">Are you sure you wish to cancel and delete your booking?</h4>
                            <div class="mt-5">
                                <div class="mb-4">
                                    <a href="{{ url_for('delete_booking', booking_id=booking._id) }}" class="button red px-3 py-1">
                                        <i class="fas fa-trash mr-2"></i>Yes - Cancel My Booking
                                    </a>
                                </div>
                                <div id="close-delete-modal" class="button orange px-3 py-1 d-inline-block">
                                    <i class="fas fa-edit mr-2"></i>No - Do Not Cancel
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}